<html>
    <head>
        <title>PyFunding</title>
        <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    </head>
    <body>
        {% include 'components/nav.html' %}
        <div class="container mt-5">
            {% block body %}{% endblock %}
        </div>
        <script src="{{ url_for('static', filename='js/jquery-3.3.1.slim.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    </body>
    <footer class="footer mt-5">
        <div class="container text-center">
            <span class="text-muted">Contribute to the code on <a href="https://github.com/DilwoarH/pyfunding">Github.com/DilwoarH/pyfunding</a></span>
        </div>
    </footer>
</html>